aws.access_key_id = [Access Key ID]
aws.secret_access_key = [Secret Access Key]
aws.region = [AWS Region]
environment = [Deployment Environment]
core.server.host = [Core Server Host in Environment]
core.server.port = 8081 # Current Standard Port
# In current configuration, this is a load balancer so it does not hit the standard Balboa port, 2012
metric-config.balboa.server.host = [Balboa Load Balancer in Environment] 
# Current Port for Load Balancer
metric-config.balboa.server.port = 9898 
