# Required Configuration Properties
environment = {{ENVIRONMENT}}
core.server.host = {{CORE_SERVER}}
core.server.port = {{CORE_PORT}}
metric-config.balboa.server.host = {{BALBOA_SERVER}}
metric-config.balboa.server.port = {{BALBOA_PORT}}

# AWS Credentials
aws.access_key_id = {{AWS_ACCESS_KEY}}
aws.secret_access_key = {{AWS_SECRET_ACCESS_KEY}}
aws.region = {{AWS_REGION}}
